<!DOCTYPE html>
<html>
<head>

	<title>UniTn Finder-Chat Locale</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">-->
	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>

	<header class="banner">

        <div class="bannertext">
            Powered by uBonto
            <img src="images/logo.png" style="width: 40px; height: auto; float:right">
        </div>

	</header>


	<section class="section">

		<!-- These elements are displayed as white info cards in the middle of the screen -->
    <div class="container">
      <div class="angularjs-chat-bubble-white bubble-one"></div>
      <div class="angularjs-chat-bubble-white bubble-two"></div>
      <div class="angularjs-chat-bubble-white bubble-three"></div>
    </div>

		<div class="chatscreen">

			<ul class="chats">
				<!-- The chat messages will go here -->
			</ul>

		</div>

	</section>

	<footer>

		<form id="chatform">

			<textarea id="message" placeholder="Write something.."></textarea>
			<input type="submit" id="submit" value="SEND"/>

		</form>

	</footer>

	<script src="/js/moment.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/script.js"></script>

</body>

</html>
